<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/First.css" rel="stylesheet" />
    <link href="~/Content/Second.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <section class="main-content">
        <div class="container">
            <h1>Top Drivers</h1>
            <hr />
            <h4>Vote feature coming soon...</h4>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-4">
                    <div class="leaderboard-card">
                        <div class="leaderboard-card__top">
                            <h3 class="text-center">2ND</h3>
                        </div>
                        <div class="leaderboard-card__body">
                            <div class="text-center">
                                <img src="~/Images/Max Verstappen.jpg" class="circle-img mb-2" alt="Driver Img">
                                <h3 class="mb-0">Max Verstappen</h3>
                                 <h4>The Netherlands <img src="~/Images/Netherlands.jpg" alt="Netherlands Flag" /></h4>
                                <h5 class="mb-0">Red Bull</h5>
                                <p class="text-muted mb-0">80 PTS </p>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">

                                    <button class="btn btn-success btn-sm">Vote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="leaderboard-card leaderboard-card--first">
                        <div class="leaderboard-card__top">
                            <h3 class="text-center">1ST</h3>
                        </div>
                        <div class="leaderboard-card__body">
                            <div class="text-center">
                                <img src="~/Images/Lewis Hamilton.jpg" class="circle-img mb-2" alt="Driver Img">
                                <h3 class="mb-0">Lewis Hamilton</h3>
                                <h4>Great Britain <img src="~/Images/GreatBritain.jpg" alt="Great Britain Flag" /></h4>
                                <h5 class="mb-0">Mercedes</h5>
                                <p class="text-muted mb-0">94 PTS </p>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-success btn-sm">Vote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="leaderboard-card">
                        <div class="leaderboard-card__top">
                            <h3 class="text-center">3RD <small class="text-success"><i class="fa fa-arrow-up"></i></small></h3>
                        </div>
                        <div class="leaderboard-card__body">
                            <div class="text-center">
                                <img src="~/Images/Valtteri Bottas.jpg" class="circle-img mb-2" alt="Driver Img">
                                <h5 class="mb-0">Valteri Bottas</h5>
                                <h4>Finland<img src="~/Images/Finland.jpg" alt="Finland Flag" /></h4>
                                <h5 class="mb-0">Mercedes</h5>
                                <p class="text-muted mb-0">47PTS </p>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-success btn-sm">Vote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <h4>Other Drivers</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>Driver</th>
                        <th>Rank</th>
                        <th>Points</th>
                        <th>Team</th>
                        <th>Driver Of The Month</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="~/Images/Lando Norris.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Lando Norris</h5>
                                    <p class="text-muted mb-0">Great Britain</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-baseline">
                                <h4 class="mr-1">4TH<small class="text-danger"><i class="fa fa-arrow-down"></i></small></h4>
                            </div>
                        </td>
                        <td>41PTS</td>
                        <td>McLaren Mercedes</td>
                        <td>
                            <button class="btn btn-success btn-sm">Vote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="~/Images/Charles Leclerc.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Charles Leclerc</h5>
                                    <p class="text-muted mb-0">Monaco</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-baseline">
                                <h4 class="mr-1">5TH</h4>
                            </div>
                        </td>
                        <td>40PTS</td>
                        <td>Ferrari</td>
                        <td>
                            <button class="btn btn-success btn-sm">Vote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="~/Images/Sergio Perez.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Sergio Perez</h5>
                                    <p class="text-muted mb-0">Mexico</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-baseline">
                                <h4 class="mr-1">6TH</h4>
                            </div>
                        </td>
                        <td>32PTS</td>
                        <td>Red Bull</td>
                        <td>
                            <button class="btn btn-success btn-sm">Vote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="~/Images/Daniel Ricciardo.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Daniel Ricciardo</h5>
                                    <p class="text-muted mb-0">Australia</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-baseline">
                                <h4 class="mr-1">7TH</h4>
                            </div>
                        </td>
                        <td>24PTS</td>
                        <td>McLaren Mercedes</td>
                        <td>
                            <button class="btn btn-success btn-sm">Vote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="~/Images/Carlos Sainz.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Carlos Sainz</h5>
                                    <p class="text-muted mb-0">Spain</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-baseline">
                                <h4 class="mr-1">8TH<small class="text-success"><i class="fa fa-arrow-up"></i></small></h4>
                            </div>
                        </td>
                        <td>20PTS</td>
                        <td>Ferrari</td>
                        <td>
                            <button class="btn btn-success btn-sm">Vote</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

