
@{
    ViewBag.Title = "Schedule";
}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<h2>Schedule</h2>
<br />
<hr />
<!-- Page Content -->
<div class="container">

    <div class="row">
        <!--Categories-->
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <div class="col-md-9">
          
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/GptpT7f/Round-1.jpg">
                        <div class="caption">
                            <h5>
                                BAHRAIN <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                26-28 <br /> MAR
                            </h6>
                            <h4>Round 1- Formula 1 Gulf Air <br /> Bahrain Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p>Winner : Lewis Hamilton</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/Z6X3t3S/Round-2-14.jpg">
                        <div class="caption">
                            <h5>
                                IMOLA <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                16-18 <br /> APR
                            </h6>
                            <h4>Round 2- Formula 1 Pirelli<br /> Gran Premio Del Made In Italy<br /> E Dell'emilia Romagna 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p>Winner : MAX VERSTAPPEN</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/Tc6Tqx6/Round-3.jpg">
                        <div class="caption">
                            <h5>
                                PORTUGAL <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                30-02 <br /> APR-MAY
                            </h6>
                            <h4>Round 3- Formula 1 Heineken<br /> Grande Prémio De Portugal <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p>Winner : Lewis Hamilton</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/Gt0WgRy/Round-4.jpg">
                        <div class="caption">
                            <h5>
                                SPAIN <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                07-09 <br /> MAY
                            </h6>
                            <h4>Round 4- Formula 1 Aramco<br /> Gran Premio De España 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p>Winner : Lewis Hamilton</p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/mX32kFV/Round-5.jpg">
                        <div class="caption">
                            <h5>
                                MONACO <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                20-23 <br /> MAY
                            </h6>
                            <h4>Round 5- Formula 1 Aramco <br />Gran Premio De España 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/0JSFTSW/Round-6.jpg">
                        <div class="caption">
                            <h5>
                                AZARBAIJAN <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                04-06 <br /> JUN
                            </h6>
                            <h4>Round 6- Formula 1 Azerbaijan<br /> Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/vHmD2Gv/Round-7.jpg">
                        <div class="caption">
                            <h5>
                                TURKEY <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                11-13 <br /> JUN
                            </h6>
                            <h4>Round 7- Formula 1 <br />Turkish Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/pxYHcsR/Round-8.jpg">
                        <div class="caption">
                            <h5>
                                FRANCE <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                25-27 <br /> JUN
                            </h6>
                            <h4>Round 8- Formula 1 Emirates <br />Grand Prix De France 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/K69jQtT/Round-9.jpg">
                        <div class="caption">
                            <h5>
                                AUSTRIA <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                02-04 <br /> JUL
                            </h6>
                            <h4>Round 9- Formula 1 myWorld <br />Grosser Preis Von Österreich<br /> 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/my4F37Z/Round-10.jpg">
                        <div class="caption">
                            <h5>
                                GREAT BRITAIN <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                16-18 <br /> JUL
                            </h6>
                            <h4>Round 10- Formula 1 Pirelli <br />British Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/bKCp0nH/Round-11.jpg">
                        <div class="caption">
                            <h5>
                                HUNGARY <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                30-01 <br /> JUL-AUG
                            </h6>
                            <h4>Round 11- Formula 1 Magyar <br />Nagydíj 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/tzsVLf2/Round-12.jpg">
                        <div class="caption">
                            <h5>
                                BELGIUM <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                27-29 <br /> AUG
                            </h6>
                            <h4>Round 12- Formula 1 Rolex <br />Belgian Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/1rGjTcH/Round-13.jpg">
                        <div class="caption">
                            <h5>
                                NETHERLANDS <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                03-05 <br /> SEP
                            </h6>
                            <h4>Round 13- Formula 1 Heineken <br />Dutch Grand Prix <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/Z6X3t3S/Round-2-14.jpg">
                        <div class="caption">
                            <h5>
                                ITALY <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                10-12 <br /> SEP
                            </h6>
                            <h4>Round 14- Formula 1 Heineken <br />Gran Premio D’italia <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/cQx58dL/Round-15.jpg">
                        <div class="caption">
                            <h5>
                                RUSSIA <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                24-26 <br /> SEP
                            </h6>
                            <h4>Round 15- Formula 1 VTB <br />Russian Grand Prix <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/N6J75ks/Round-16.jpg">
                        <div class="caption">
                            <h5>
                                SINGAPORE <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                01-03 <br /> OCT
                            </h6>
                            <h4>Round 16- Formula 1 <br />Singapore Airlines Singapore <br />Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/4Kr1rYS/Round-17.jpg">
                        <div class="caption">
                            <h5>
                                JAPAN <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                08-10 <br /> OCT
                            </h6>
                            <h4>Round 17- Formula 1 Honda <br />Japanese Grand Prix 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/T2Z1B44/Round-18.jpg">
                        <div class="caption">
                            <h5>
                                USA <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                22-24 <br /> OCT
                            </h6>
                            <h4>Round 18- Formula 1 Aramco <br />United States Grand Prix <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/dLt2yNt/Round-19.jpg">
                        <div class="caption">
                            <h5>
                                MEXICO <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                29-31 <br /> OCT
                            </h6>
                            <h4>Round 19- Formula 1 Gran <br />Premio De La Ciudad De<br /> México 2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/MGFdP60/Round-20.jpg">
                        <div class="caption">
                            <h5>
                                BRAZIL <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                05-07 <br /> NOV
                            </h6>
                            <h4>Round 20- Formula 1 Heineken <br />Grande Prêmio De São Paulo <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/879MzXC/Round-21.jpg">
                        <div class="caption">
                            <h5>
                                AUSTRALIA <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                19-21 <br /> NOV
                            </h6>
                            <h4>Round 21- Formula 1 Rolex <br />Australian Grand Prix <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/ZWjhfJq/Round-22.jpg">
                        <div class="caption">
                            <h5>
                                SAUDI ARABIA <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                03-05 <br /> DEC
                            </h6>
                            <h4>Round 22- Formula 1 Saudi <br />Arabian Grand Prix <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="https://i.ibb.co/vD3wDZZ/Round-23.jpg">
                        <div class="caption">
                            <h5>
                                ABU DHABI <span class="fa fa-arrow-down"></span>
                            </h5>
                            <h6 class="text-right">
                                10-12 <br /> DEC
                            </h6>
                            <h4>Round 23- Formula 1 Etihad <br />Airways Abu Dhabi Grand Prix <br />2021</h4>

                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

